/* font styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*nev releted styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.pcolor {
    color: #FD6E0A;
}

.btn-pri {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;
}

.mtitle {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* heder */

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .picture {
    width: 500px;
}

.bncon {
    max-width: 500px;
}

.bnhead {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.bntitle {
    font-size: 65px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bnpera {
    margin-top: 0px;
}

.picture {
    margin-right: 70px;
}

/* main section */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 130px;
}

.sectitle {
    color: var #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.secdip {
    color: var #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* about section */